deb http://debian.xtdv.net/debian bullseye main
deb-src http://debian.xtdv.net/debian bullseye main
deb http://debian.xtdv.net/debian bullseye-updates main
deb-src http://debian.xtdv.net/debian bullseye-updates main