deb http://debian.xtdv.net/debian {{ debian_version }} main
deb-src http://debian.xtdv.net/debian {{ debian_version }} main
deb http://debian.xtdv.net/debian {{ debian_version }}-updates main
deb-src http://debian.xtdv.net/debian {{ debian_version }}-updates main